@media (max-width:600px) {
    body{
        
        overflow: hidden;
        width: 100%;
    }
    .main{
        height: 387px !important;
    }
    .navbar nav ul{
    
        padding: 20px !important;
    }
    .logo{
        font-size: 23px !important;
        margin-top: -5px;
        display: flex;
        
    }
    .mdiv{
        display: none !important;
    }
    .sign{
        font-size: 14px !important;
        display: flex;
    }
    .bold{
       position: relative;top:20px;left:20px !important;
        font-size: 40px !important;
    }
    .bb{
         position: relative;top:30px;left:20px !important;
        font-size: 11px !important;
        word-spacing: 0px !important;
    }
    .pic img{
        position: relative;top:98px;left:-395px;
        width: 200px;
        height: 300px;
    }
    .button{
         position: relative;top:-223px !important;left:20px !important;
        font-size:12px !important;
        font-weight: 100;
        padding: 5px 4px 6px 8px !important;
        width: 80px !important;
    }
    .circle{
        position: relative;top:-252px !important;left:128px !important;
        height: 30px !important;
        width: 30px !important;
    }
    .wat{
        position: relative;top:-274px !important;left:170px !important;
        font-size: 12px !important;
    }
    .and{
        height: 60px !important;
    }
    .em:after{font-size: 11 !important;margin:0px 0px 0px 15px !important;}
    .em{
    position: relative;top:10px !important;left:20px !important;
        font-size: 16px !important;
        
    }
    .herb{
        position: relative;top:10px !important;left:120px !important;
        font-size: 16px !important;
        
    }
    .empty{
        position: relative;top:10px !important;left:20px !important;
    }
    .head{
        position: relative;top:20px !important;left:45px !important;
    }
    .mm2{position: relative;top:10px !important;left:20px !important;}
    .ma2{
        width: auto !important;
        display: block !important;
        height: auto !important;
    }
    .ma3{
        
    }
    .icon{
        position: relative;top:0px !important;left:145px !important;
    }
    .mad{
        position: relative;top:0px !important;left:123px !important;
    }
    .mas img{display: none !important;}
    
    .madf{width: auto !important;}
    .jas{
         position: relative;top:10px !important;left:20px !important;
    }
    .im{
        position: relative;top:-25px !important;left:95px !important;
    }
    .belle{
        position: relative;top:0px !important;left:-127px !important;
        font-size: 14px !important;
    }
    .head4{
        height: 850px !important;
    }
    .ine1{
        position: relative;top:40px !important;left:-10px !important;
    }
    .hab1{
        position: relative;top:60px !important;left:27px !important;
    }
    .b1{
       position: relative;top:70px !important;left:57px !important; 
    }
    .ine2{
        position: relative;top:40px !important;left:-42px !important;
    }
    .hab2{
        position: relative;top:60px !important;left:0px !important;
    }
    .b2{
        position: relative;top:80px !important;left:40px !important;
    }
    
    .main32{
    width: auto !important;
        height: 749px !important;
    }
    .mere1{
        float: right !important;
    }
    .empy1{
        position: relative;top:0px !important;left:0px !important;
    }
    .hedi1{
        position: relative;top:10px !important;left:0px !important;
    }
    .abc{
        position: relative;top:20px !important;left:0px !important;
    }
    .empy2{
        position: relative;top:10px !important;left:0px !important;
    }
   .abc2{
        position: relative;top:25px !important;left:0px !important;
    }
    .hedi2{
        position: relative;top:25px !important;left:0px !important;
    }
    .abc3{
        position: relative;top:35px !important;left:0px !important;
    }
    .imag32{
        position: relative;top:38px !important;left:50px !important;
        margin: auto !important;
    }
    .footer{
        height: 450px !important;
    }
    .table{
        position: relative;top:110px !important;left:0px !important;
        width: auto;
        
    }
    table tr th{
        padding: 0px 51px 0px 0px !important;
    }
    .copy{
        position: relative;top:110px !important;left:0px !important;
        font-size: 13px !important;
    }
    .term{
        position: relative;top:98px !important;left:230px !important;
        font-size: 11px !important;
    }
    .priv{
        position: relative;top:86px !important;left:356px !important;
        font-size: 11px !important;
    }
    .mas img{display: none;}
    
    
    
    
    
}